$primary: rgb(50, 50, 214);
$secondary: rgb(255, 255, 255); 

$base-font-size: 2rem; 

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$grid-columns: 12;

$base-box-shadow: 1px 3px 5px rgb(219, 218, 218); 
$base-font-size: 1rem;
$border-radius: 3px;

$button-color: rgb(50, 50, 214);
$value: 5;