#controls > mat-form-fields{
    width: 600px;

    > mat-form-field{
        width: 100%;
    }
}


#meme{
    width: 600px;
    height: 400px;

    background-color: black;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;

    >div{
        color: white;
        text-align: center;
        border: dashed 1px white;
        position: absolute;
        left: 5px;
        right: 5px;
        

    &#upper{
        top: 5px;
     }

    &#lower{
        bottom: 5px;
    }
    }
}