<main>
    <div id="controls">
    
      <input #imageElement type="file" accept="image/*"  (change)="doOnchange(imageElement)">
    
      
      <mat-form-field appearance="outline">
        <div>
          <textarea matInput id="upper" rows="3" [(ngModel)]="upper"></textarea>
        </div>  
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <div>
          <textarea matInput id="lower" rows="3" [(ngModel)]="lower"></textarea>
        </div>
      </mat-form-field>
     
    <mat-form-field appearance="outline">
      <div>
        <mat-label>Choose a color:</mat-label>
        
        <input matInput type="color" [(ngModel)]="color">
      </div>
    </mat-form-field>
    
    
    Font size: 
    <mat-slider [(ngModel)]="size" [min]="10" [max]="60"></mat-slider>
    
    <div 
    id="meme" [ngStyle]="{'background-image': 'url('+dataUrl+')'}">
      
    <div id="upper"
      [innerHTML]="upper | nlToBr" 
      [ngStyle]="{'font-size': size +'px','line-height':(size+4)+'px', 'color':color}">
    </div>
    
    <div id="lower"
    [innerHTML]="lower | nlToBr" 
    [ngStyle]="{'font-size': size +'px','line-height':(size+4)+'px', 'color':color}">
    </div>
    
    </div>
    
    
    
    <button mat-button color="accent" (click)="saveImage()">Guardar</button>
    
    </div>
    
    </main>