.form-container{
    width: 600px;
    margin: 40px auto 0;

    mat-form-field, mat-checkbox{
        width: 100%;
    }

    div{
        margin-top:12px;

        button{
            margin-right: 8px;
        }
    }
}